*
!main.py
!tile.py
!diff.py
!miss.py
!conv.py
!ddsv.py
!lodg.py
!modules/
!modules/*
!modules/assets/
!modules/assets/shaders/
!modules/assets/shaders/*
!lib/
!lib/site-packages/
!lib/site-packages/es3/
!lib/site-packages/es3/*
!lib/site-packages/es3/**
!.gitignore
